* {
    font-family: "Pixelify Sans", sans-serif;
    background-color: #feefe5;
}

.button button{
  position: fixed;
  bottom: 0;
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: lightyellow;
  right: 0;
  margin-right: 30px;
}

.button {
  transition-duration: 0.5s;
  position: absolute;
  bottom: 20px;
}

.button button:hover {
  background-color: peachpuff;
}

.button button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  
}

h1 {
 font-size: 50px;
 text-align: center;
 margin-bottom: 20px;
 text-decoration: underline 3px;
 margin: 30px 0 20px;

}

h2 {
  font-size: 40px;
  text-align: center;
  text-decoration: wavy;
  margin:0 0 30px;
  text-wrap: wrap;
}

.img-wrap {
display:flex;
justify-content: left;

}

.img-wrap img{
    border: solid black;
}

.video-wrap{
    display: flex;
    height: 90vh;
    justify-content: center;
}

.video-wrap video{
    border: solid black;
    margin-left: 20px;
    object-fit: cover;
    
}

.text-wrap {
    display: flex;
    justify-content: right;
    white-space: normal; 
    overflow-wrap: break-word; 
    margin-left: 20px;
    margin-right: 20px;

}

p {
    font-size: 20px;
}

.dinosaur {
    position: absolute;
    height: 100px;
    width: 100px;
    right: 400px;
    top: 145px;
}